* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$textSize: 1.25rem;
$headSize: 3rem;
$buttonSize: 1.375rem;
$inputSize: 1rem;
$textheadColor: #D3E10E;
$textColor: #011560;
$backColor: #D3E10E;
$inputbackColor: #D3E10E;
$feedbackColor: #FFFFFF;
$assetPath :"image4/Path-15.png";